@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: Montserrat;
        font-weight: 400;
    }
}

/* xs */
html {
    font-size: 14px;
}

/* sm */
@media (min-width: 640px) {
    html {
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

/* lg */
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

/* xl */
/* @media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
} */